.list {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.link {
  color: var(--accents-7);
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in;
}

.link:hover {
  border-bottom: 1px solid var(--accents-7);
}